
#welcome{
    text-align: left;
    font-size: 20px;
    font-weight: 640;
    padding-bottom: 15px;
    
    margin-left:0px;
}
#welcome1{
    text-align: left;
    font-size: 14px;
     margin-left: 0px;
     color: rgb(39, 39, 39);
     
}

/*  */
#box{
    display: flex;
    text-align: left;
   
    
    
    
}
#box1{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 280px;
    margin-left: 0px;
    padding: 20px;
    border: 0px solid rgb(221, 221, 221);
    height: 320px;
    box-shadow: 0 0 4px 0.1px rgb(214, 219, 209);
}
#box01{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 280px;
    margin-left: 20px;
    padding: 20px;
    border: 0.1px solid rgb(221, 221, 221);
    height: 275px;
}
#boxh1{
   font-size: 14px;
   font-weight: 500;
   border-bottom: 1px solid rgb(214, 213, 213);
   width: 278px;
   padding-left: 20px;
   margin-left: -20px;
    padding-bottom: 15px;
    color: rgb(59, 56, 56);
   
    
}
#box2{
    display: flex;
}
#im1{
    width: 50px;
    height: 50px;
    border-radius: 240%;
    margin-top: 20px;
    margin-left: 0px;
}
#boxh2{
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 20px;
    color: rgb(39, 39, 39);
}
#boxh2 p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 1px;
    margin-top: 0px;
    color: rgb(83, 83, 83);
}
#boxh3{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    margin-left: 0px;
    margin-top: 15px;
    color: rgb(68, 68, 68);
}
#boxh3 p{
    
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
    
    color: rgb(88, 88, 88);
}
#butt{
    background-color: white;
    color: rgb(50, 175, 248);
    border: 2px solid rgba(136, 199, 238, 0.562);
    height: 40px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 20px;
}
#butt:hover{
    background-color: rgb(50, 175, 248);
    color: white;
    cursor: pointer;
}
#boxh4{
    font-size: 16px;
    font-weight: 500;
   
    margin-top: 20px;
    color: rgb(39, 39, 39);
}
#boxh4 p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 1px;
    margin-top: 0px;
    color: rgb(83, 83, 83);
}
#box6{
    
    border-radius: 4px;
    width: 280px;
    margin-left: 0px;
    padding: 20px;
    margin-top: -20px;
    
}
#box7{
    display: flex;
    padding: 15px;
    border: 0px solid rgb(221, 221, 221);
    width: 300px;
    margin-bottom: 30px;
    background-color: rgba(0, 166, 255, 0.075);
    border-radius: 2px;
    height: 85px;
    
}
#icon2{
    font-size: 60px;
    color: rgb(50, 175, 248);
    margin-top: 0px;
    border: 0px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(255, 255, 255);
}
#box8 h1{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 3px;
    font-weight: 600;
}
#box8 p{
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    padding-top: 0px;
}
#box07{
    display: flex;
    padding: 15px;
    border: 0px solid rgb(221, 221, 221);
    width: 300px;
    margin-bottom: 30px;
    background-color: rgba(252, 235, 4, 0.226);
    border-radius: 2px;
    height: 85px;
   
}
#icon02{
   font-size: 60px;
    color: rgb(231, 108, 7);
    margin-top: 0px;
    border: 0px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    
}
#box017{
    display: flex;
    padding: 15px;
    border: 0px solid rgb(221, 221, 221);
    width: 300px;
    margin-bottom: 30px;
    background-color: rgba(102, 255, 0, 0.288);
    border-radius: 2px;
    height: 85px;
    
}
#icon012{
   font-size: 60px;
    color: rgb(2, 151, 59);
    margin-top: 0px;
    border: 0px solid rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    
}
/*  */
#line{
    display: flex;
    width: 900px;
    margin-top: 40px;
    border: 1px solid rgb(221, 221, 221);
    
   

}
#payment01{
    font-size: 15px;
    
    font-weight: 600;
    color: rgb(39, 39, 39);
    margin-left: 30px;
    padding:  10px;
    
}
#add0{
    font-size: 15px;
    font-weight: 600;
    color: rgb(252, 102, 16);
    margin-left: 600px;
    padding: 10px;
    padding-right: 20px;
}
#add0:hover{
    
    color: rgb(44, 171, 230);
}
/*  */
#paymenth{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(39, 39, 39);
    
}
#card001{
    display: flex;
    margin-left: 229px;
    margin-top: 50px;
}
#card01{
   margin-left: 90px;
}
#im01{
    width: 70px;
    padding-bottom: 10px;
}
#cardh02{
    text-align: left;
}
#table123{
    
   background-color: rgba(241, 239, 239, 0.795);
}
#tbb{
 width: 900px;
 
}
#taa1{
    color: rgb(231, 236, 236);
}
#taa2{
    color: rgb(10, 12, 12);
}
#taa3{
    color: rgba(170, 177, 177, 0);
    background-color: rgba(49, 49, 49, 0.068);
}
#table1234{
   
    color: black;
    padding-left: 30px;
}
/*  */

#payment012{
      font-size: 15px;
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin-left: 0px;
    padding: 10px;
}
#add012{
     font-size: 15px;
    font-weight: 600;
    color: rgb(252, 102, 16);
    margin-left: 600px;
    padding: 10px;
    padding-right: 20px;
}
#add012:hover{
    color: rgb(18, 112, 253);
}
#view01{
    color: rgb(44, 171, 230);
}
#view01:hover{
    color: rgb(109, 215, 230);
}
#num01{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}