.dashboard {
  background-color: rgb(255, 255, 255);
}
#dashboard{
    display: flex;
    
}
#h3{
    color: rgb(253, 253, 253);
   
    display: flex;
  padding: 5px 20px;
  font-weight: 200 ;
  margin-bottom: 10px;
}
#h{
  display: flex;
  padding: 5px 20px;
  font-weight: 200 ;
  color: rgb(39, 39, 39);
 margin-bottom: 10px;
}
#h:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
    box-shadow: 0 0 8px 0.1px rgb(190, 190, 190);
}
#h2{
    margin-left: 10px;
    margin-top: -3px;
    font-size: 13px;
    font-weight: 400;
}
#active{
    background-color: rgb(0, 0, 0);
    width: 200px;
    color: blue;
    
}
#nav{
   
   
    box-shadow: 0 0 8px 0.1px rgb(190, 190, 190);
    width: 200px;
    height: 170px;
    padding-top: 10px;
    
}
/* ? */



/*  */
#dashboard01{
    align-items: left;
    
    
}
/*  */
#add012{
    font-size: 15px;
    font-weight: 600;
    color: rgb(236, 131, 71);
    margin-left: 630px;
    padding: 15px;
    padding-right: 10px;
}
#add012:hover{
    
    color: rgb(44, 171, 230);
}
#payment012{
      font-size: 15px;
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin-left: 0px;
    padding: 15px 10px;
}
#view01{
    color: rgb(44, 171, 230);
}
#view01:hover{
    color: rgb(109, 215, 230);
}